.card {
    width: 600px;
    min-height: 700px;
    max-height: 1000px;
    height: auto;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  }

.card-header1 h1{
    font-size: 30px;
    font-weight: 600;
    
}

.card-write{
    padding: 20px;
}
.card-write input{
    margin-left: 10px;
    padding: 10px;
    border: 1px solid #999;
    border-radius: 10px;
    box-shadow: 3px 3px 10px #e6e6e6;
}
.card-write textarea{
    margin-left: 10px;
    padding: 10px;
    border: 1px solid #999;
    border-radius: 10px;
    box-shadow: 3px 3px 10px #e6e6e6;
}


.card-write .title-w input[type="text"]{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 85.5%;
}

.card-write .msg textarea{
    
    min-width:85.5% ;
    max-width: 85.5%;
    min-height: 200px;
    max-height: 200px;
    box-shadow: inset 3px 3px 10px #e6e6e6
    ;
}
.card-write .msg2 textarea{
    
    min-width:85.5% ;
    max-width: 85.5%;
    min-height: 100px;
    max-height: 100px;
    box-shadow: inset 3px 3px 10px #e6e6e6
    ;
}