/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer {
    font-size: 14px;
    padding: 20px 0;
    border-top: 2px solid #ccc;
    margin-top: 1%;
  }
  
  .footer .logo {
    text-decoration: none;
    color: #28cdc8;
    font-size: 30px;
    font-weight: 900;
  }
  
  /* .footer-info */
  .footer .footer-info h4 {
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 6px;
    display: flex;
    justify-content: left;
  }
  
  .footer .footer-info .team-info .team {
    margin-top: 6px;
    margin-bottom: 6px;
    display: flex;
    align-items: center;
  }
  
  .footer .footer-info .team-info .team .team-name {
    font-weight: 300;
    margin-right: 4px;
  }
  
  .footer .footer-info .team-info .team .team-email {
    display: flex;
    align-items: center;
  }
  
  .footer .footer-info .team-info .team .team-email ion-icon {
    font-size: 15px;
    margin-right: 3px;
  }
  
  .footer .footer-info .team-info .team .team-github ion-icon {
    font-size: 15px;
    display: flex;
    align-items: center;
    color: black;
  }
  
  /* .footer-watch-videos */
  .footer .footer-watch-videos h4 {
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 6px;
    display: flex;
    justify-content: left;
  }
  
  .footer .footer-watch-videos .video {
    margin-top: 6px;
    margin-bottom: 6px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
  }
  
  .footer .footer-watch-videos .video .video-icon {
    display: flex;
    align-items: center;
    margin-right: 4px;
  }
  
  .footer .footer-watch-videos .video .video-icon ion-icon {
    font-size: 15px;
  }
  
  .footer .footer-watch-videos .video .video-name {
    margin-right: 4px;
  }
  
  /* .footer-our-project */
  .footer .footer-our-project h4 {
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 6px;
    display: flex;
    justify-content: left;
  }
  
  .footer .footer-our-project .project-info {
    margin-top: 6px;
    margin-bottom: 6px;
    display: flex;
    align-items: center;
  }
  
  .footer .footer-our-project .project-info a ion-icon {
    display: flex;
    justify-content: left;
    color: black;
  }
  
  /* footer-work-space */
  .footer .footer-work-space h4 {
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 6px;
    display: flex;
    justify-content: left;
  }
  
  .footer .footer-work-space .work-space-info {
    margin-top: 6px;
    margin-bottom: 6px;
    display: flex;
    align-items: center;
  }
  
  /* copyleft */
  .footer .copyleft {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
  
  .footer .copyleft img {
    width: 14px;
    height: 14px;
  }