.login-bar{

    flex-grow: 1; /* 이 부분이 추가됨 */
    text-align: center;
    font-size: 2.5rem; /* 텍스트 크기 조절 */
    height: 100%; /* 높이 조절 */
    margin: 0 10% 0 0;
    vertical-align: middle;
    
}
.custom-container {
    display : flex;
    /* border: 1px solid #ddd; */
    border-radius: 5px;
    background-color: #f8f9fa;

    ;
   
  }
  

.custom-center {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
    /* height: 100%; 부모 요소의 높이를 100%로 설정해야 효과가 있음 */ 
    /* margin : 0 1px 0 0; */
}


/* BasicForm.css */
.formContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:3%;
  }
  
  .form {
    width: 420px;
    padding: 20px;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .formTitle {
    font-size: 25px;
    margin-bottom: 25px;
    font-weight: bold;
  }
  .findFormTitle{
    font-size: 20px;
    margin-bottom: 35px;
    font-weight: bold;
  }
  .currentPage {
    color: #fa0;
  }
  
  .formGroup {
    margin-bottom: 20px;
  
  }
  
  .formGroupComponent{
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
  
  
  #navigateNewPage {
    display: flex;
    justify-content: space-evenly;
  }
  
  .duplicationCheckButton{
    height: 40px;
    width: 30%;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: aliceblue;
    margin-left: 10px;
  
  }
  .emailVerificationButton{
    height: 40px;
    width: 50%;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: aliceblue;
    margin-left: 10px;
  }
  
  .sendCodeBtn {
    height: 40px;
    width: 25%;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: aliceblue;
    margin-left: 10px;
    font-size: small;
  }
  .verificationBtn{
    height: 40px;
    width: 25%;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: aliceblue;
    margin-left: 10px;
  }
  /* 커서가 포인터로 보이게 하기 */
  .formGroup span {
    cursor: pointer;
  }
  .pointerShow {
    cursor: pointer;
  }
  
  /* 커서가 hover되면 색깔 바꾸기 */
  .formGroup span:hover {
    color:#fa0
  }
  .loginRoute {
    color: #fa0;
    font-weight: bold;
    margin-left: 10px;
  }
  .formInput {
    width: 100%;
    height: 40px;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
  }
  .formInput:focus {
    /* border-color:#ffbb33; */
    border-color:black;
  }
  
  .submitButton {
    background-color: #28cdc8;
    width: 30%;
    height: 40px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 20px;
  }
  
  .submitButton:hover {
    background-color:rgb(224, 118, 135) ;


  }
  
  .errorMsg {
    font-size: 7px;
    color: red;
  }