<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Board">
    <insert id="save" parameterType="board">
        insert into board_table(boardTitle, boardContents,boardWriter)
        values(#{boardTitle}, #{boardContents},#{boardWriter})
    </insert>
    <select id="findAll" resultType="board">
<!--        select * from board_table order by boardId desc-->
        SELECT board_table.*, user_table.userName
        FROM board_table
        INNER JOIN user_table ON board_table.boardWriter = user_table.userId
        ORDER BY board_table.boardId DESC
    </select>
    <select id="findById" parameterType="int" resultType="board">
        select * from board_table where boardId=#{id}
    </select>
    <select id="findByUserId" parameterType="int" resultType="board">
        select * from board_table where boardWriter=#{id}
        order by boardId desc
    </select>
    <update id="updateHits" parameterType="int">
        update board_table set boardHits = boardHits + 1 where boardId=#{id}
    </update>
    <update id="updateLike" parameterType="int">
        update board_table set boardLike = boardLike + 1 where boardId=#{id}
    </update>
    <delete id="delete" parameterType="int">
        delete from board_table where boardId=#{id}
    </delete>
    <update id="update" parameterType="board">
        update board_table set boardTitle=#{boardTitle}, boardContents=#{boardContents}
        where boardId=#{boardId}
    </update>
</mapper>
