<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Comment">
    <insert id="save" parameterType="comment">
        insert into comment_table(commentWriter, commentContents, boardId)
        values(#{commentWriter}, #{commentContents}, #{boardId})
    </insert>
<!--    <select id="findAll" parameterType="int" resultType="comment">-->
<!--        select a.* b.userName-->
<!--        from comment_table a-->
<!--        inner join user_table b on a.commentWriter = b.userId-->
<!--        where boardId =#{boardId} order by commentId desc-->
<!--    </select>-->
    <select id="findAll" parameterType="int" resultType="comment">
        select a.*, b.userName
        from comment_table a
        inner join user_table b on a.commentWriter = b.userId
        where boardId = #{boardId} order by commentId desc
    </select>

<!--    특정댓글 삭제-->
    <delete id="deleteComment" parameterType="int">
        DELETE FROM comment_table
        WHERE commentId = #{commentId}
    </delete>

<!--    특정 게시글의 댓글 삭제-->
    <delete id="deleteCommentsByBoardId" parameterType="int">
        DELETE FROM comment_table
        WHERE boardId = #{boardId}
    </delete>
</mapper>
